body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 28, 28);
}

nav {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    height: 4em;
}

nav ul li {
    list-style: none;
    padding: 1em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}
nav ul li:hover{
    background-color: gray;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
nav ul li a:hover{
    color: white;
}